@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
/*body{
    background-color: rgb(225, 225, 225);
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}*/
#body{
    background-color: white;
}
.index_body{
    background-color: white;
    background-color: #e5e5f7;
    /*opacity: 0.8;*/
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

/*--------------------NAVBAR--------------------*/

nav{
    width: 100vw;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    /*border: 1px solid blue;*/
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 10px #DCDCDC;
}
.logo{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin: 0px 40px;
}
.nav_links{
    display: flex;
}
.nav_links li{
    list-style: none;
}
.nav_links a{
    margin-right: 30px;
    text-decoration: none;
    color: #343a40;
    font-size: 17px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#menu_on{
    display: none;
    margin: 0px 40px;
}
#menu_off{
    display: none;
    margin: 0px 40px;
}
.nav_links a:hover{
    color: #3e64ff;
    border-bottom: 2px solid #3e64ff ;
}


/*--------------------------------------------------------------*/
/*--------------------------------------*/
.form_make_cert_wrapper{
    padding: 30px;
    text-align: center;
    background-color: #e5e5f7;
    /*opacity: 0.8;*/
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    min-height: 100vh;
    padding-top: 100px;
}
.form_make_cert_wrapper h2{
    font-family: 'Red Hat Display', sans-serif;
}
.make_cert_pic h1{
    font-size: 37px;
}
/*.cert_img{
    border: 1px solid gray;
    height: 250px;
    width: 300px;
    background-image: url("cert_illustration.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}*/




.form{
    /*border: 1px solid red;*/
    margin: auto;
    width: 270px;
    padding: 20px;
    background-color: rgb(200, 205, 242);
}
.form input{
    height: 37px;
    width: 240px;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
}
.form textarea{
    height: 130px;
    width: 230px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
}
.form button{
    height: 39px;
    width: 240px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgb(0, 65, 187);
    color: white;
    outline: none;
    border: 0px;
    cursor: pointer;
}
/*-----------------------------------------------------------------*/
/*.cert_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    padding-top: 100px;
}
.cert_outline_wrap{
    padding: 10px;
    /*-image: url("certificate_background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*width: 640px;
    /*border: 1px solid black;
    display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 600px;

}
.cert_outline_wrap img{
    pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cert_outline{
    /*border: 2px solid black;
    height: 390px;
    width: 600px;
    padding: 20px;
    text-align: center;
    margin: auto;
    /*background-color: pink;
    
}
.cert_outline h1{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(0, 44, 126);
}
.cert_content{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    padding: 10px 30px;
    line-height: 30px;
    opacity: 1;
}
.cert_content span{
    font-weight: bold;
    font-size: 18px;
}
.issue{
    /*float: left;
    text-align: left;
}
.cssauthority{
    font-size: 15px;
}
.cert_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Red Hat Display', sans-serif;
}
#css_achiev{
    padding: 0px 30px;
    font-family: 'Red Hat Display', sans-serif;
}*/
/*-------------------------------*/
.btn_gen_cert{
    height: 36px;
    width: 120px;
    color: white;
    background-color: #444cf7;
    outline: none;
    border: 0px;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
}

.btn_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*------------------------------------*/

/**********************************/
#form_for_cert{
    display: block;
}

#re_generated_cert{
    /*min-height: 100vh;*/
    display: none;
    /*background-color: rgb(209, 216, 254);*/
    padding-bottom: 60px;
    padding-top: 120px;
}
/********************************/
.home_cert_pic{
    /*border: 1px solid blue;*/
    height: 300px;
    width: 460px;
    background-image: url("cert_illustration.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px 0px;
}
.demo{
    padding: 50px;

}
.home_cert{
    padding: 20px;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 46px;
    /*border: 1px solid grey;*/
    padding-top: 100px;
}
.home_cert{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}
.home_cert button{
    height: 39px;
    width: 240px;
    font-size: 18px;
    background-color: #444cf7;
    color: white;
    border: 0px;
    cursor: pointer;
}

/*******************************/




@media (max-width: 1000px)
{
    .home_cert{
        display: block;
        /*flex-wrap: wrap;
        margin: auto;*/
        /*border: 1px solid green;*/
        text-align: center;
    }
    .home_cert_write{
        margin-bottom: 60px;
    }
    .home_cert_pic{
        max-width: 460px;
        margin:auto;
    }
}

/****************************/
@media(max-width:700px){

    .nav_links{
        display: none;
        padding-top: 60px;
        padding-bottom: 20px;
        text-align: center;
    }
    .nav_links li {
        margin-top: 10px;
    }
    #menu_on{
        display: block;
    }

/*------------------------*/
.cert_outline_wrap{
    padding: 10px;
    /*background-image: url("certificate_background2.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;*/
    /*border: 1px solid black;*/

}

.cert_outline_wrap{
    width: 640px;
}

.cert_wrapper{
    display: block;
    /*justify-content: center;
    align-items: center;*/
    padding: 25px 0px;
    padding-top: 100px;
    overflow-y: scroll;
}
}
    /*----------------------*/
    @media(max-width:600px){
        .nav_links{
            display: none;
            padding-top: 60px;
            padding-bottom: 20px;
            text-align: center;
        }
        .nav_links li {
            margin-top: 10px;
        }
        #menu_on{
            display: block;
        }
        .home_cert_pic{
            width: 300px;
        }
        /*-------------------------------------------*/
        .re_subwrapper{
            display: block;
            min-width: 600px;
            }
    }
        /*----------------------*/

        @media (max-width:400px){
            .nav_links{
                display: none;
                padding-top: 60px;
                padding-bottom: 20px;
                text-align: center;
            }
            .nav_links li {
                margin-top: 10px;
            }
            .logo{
                margin: 0px 0px 0px 30px;
            }
            #menu_on{
                display: block;
                margin: 0px 30px 0px 0px;
            }
            #menu_off{
                margin: 0px 30px 0px 0px;
            }
        }

        /*---------------------*/

        /*------------------------*/
        /*----------------------------**/
        /*************************************************************/
        /*#certificate_printi{
            /*border: 2px solid pink;
        }
    .re_subwrapper{
        /*border: 6px solid green;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .main_wrapper_div {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 600px;
        height: 390px;
        font-family: 'Red Hat Display', sans-serif;
        /*margin: auto;
    }

    .main_wrapper_div img {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .main_wrapper_div .this_p {
        padding: 6px 37px;
        text-align: center;
    }
    .main_wrapper_div p{
        text-align: center;
        /*padding: 0px 30px;
        margin: 0px 37px;
    }

    .main_wrapper_div h1 {
        text-align: center;
        padding: 46px 10px 20px 10px;
    }
    .main_wrapper_div span{
        font-weight: bold;
    }
    .re_cert_info {
        display: flex;
        justify-content: space-between;
        /*align-items: center;
        padding: 0px 46px;
    }*/
        /***********************************************************/
        /*#certificate_printi{
            /*min-width: 600px;
            overflow: scroll;
            /*border: 1px solid purple;
        }*/
        .scrolling_cert_div{
            width: 100%;
            overflow-y: scroll;
        }
    .re_subwrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        }
    .main_wrapper_div {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 600px;
        height: 390px;
        font-family: 'Red Hat Display', sans-serif;
        /*margin: auto;*/
    }

    .main_wrapper_div img {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .main_wrapper_div .this_p {
        padding: 6px 37px;
        text-align: center;
    }
    .main_wrapper_div p{
        text-align: center;
        /*padding: 0px 30px;*/
        margin: 0px 37px;
    }

    .main_wrapper_div h1 {
        text-align: center;
        padding: 46px 10px 20px 10px;
    }
    .main_wrapper_div span{
        font-weight: bold;
    }
    .re_cert_info {
        display: flex;
        justify-content: space-between;
        /*align-items: center;*/
        padding: 0px 46px;
    }

    /*****************CONTACT ME******************/

    .contact_me{
        padding: 160px 15px 30px 15px;
        /*border: 1px solid grey;*/
        min-height: 100vh;
        background-color: #e5e5f7;
        background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 10px 10px;
    }
    .cm_main_wrapper{
        border: 2px solid #0c14b3;
        border-bottom: 15px solid #3e64ff;
        border-radius: 10px;
        min-width: 245px;
        max-width: 295px;
        height: 430px;
        margin: auto;
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;
        background-color: white;
        padding: 0px 25px;
    }
    .cn_box1{
        /*border: 1px solid black;*/
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: -50px;
        margin-left: 34%;

        background-image: url("mypic.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .cn_box2{
        margin-top: 25px;
        font-size: 46px;
        color: #444cf7;
        /*height: 200px;
        width: 200px;*/
    }
    .cn_box2 a{
        cursor: pointer;
        color: #444cf7;
    }
    .cn_box2 span{
        font-size: 20px;
        color: grey
    }

    /***********************************************/

    /*----------------------FOOTER--------------------------*/

    footer{
        /*height: 30px;*/
        background-color: #0a0e41;
        color: white;
        font-size: 16px;
        padding: 20px;
        font-family: 'Red Hat Display', sans-serif;
        text-align: center;
    }
    footer a{
        color: white;
    }

    /*--------------------------------------------------*/